@model Projet2020.Models.Clients
@{
    ViewBag.Title = "Create";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Create account</h2>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Firstname)
                        @Html.TextBoxFor(m => m.Firstname, "", new { @class = "form-control", @placeholder = "Jean" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Dupont" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Jean.dupont@coucou.com" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Adress)
                        @Html.TextBoxFor(m => m.Adress, "", new { @class = "form-control", @placeholder = "Rue des clercs,26, 7000, Mons" })

                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Create" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
